<h4> Sendsay </h4>


<div class="container">

  <div class="chatContainer">
    <div class="chatBox"  ng-class-odd="'Odd'" data-ng-repeat="msg in msgs">
      <p><span class="author">{{msg.username}}:</span> {{msg.content}}<span class="dateposted">{{msg.posteddate | date:'short'}}</span></p>
    </div>
</div>

  <aside class="userList">
    <h3>In the dojo</h3>
    <section data-ng-repeat="user in users">
        <ul style="list-style-type:none;">
      <li>{{user.username}}</li><span><a href="#" ng-if="username == user.username"  ng-click="deleteUser(user)">(Log out)</a></span>
  </ul>
    </section>
  </aside>
</div>

<p class="water" ng-model="username">Be like water, young <span>{{username}}.</span></p>
<form ng-submit="addMsg(msg)">
<input id="chatInput" type="text" placeholder="Become the cup..." ng-model="msg.content">
</form>

<div id="BRUCE"></div>
